{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@pages": "./pages",
          "@styles": "./styles",
          "@hooks": "./src/hooks",
          "@components": "./src/components",
          "@elements": "./src/elements",
          "@typing": "./src/typing",
          "@queries": "./src/queries",
          "@constant": "./src/constant", // 여기까지 먹힙니다!

          "@utils": "./src/utils", // 아래 두개는 적용이 안되네요..
          "@testFolder": "./src/testFoler"
        }
      }
    ],
    ["@emotion/babel-plugin"]
  ]
}
